.header{
    display: flex;
    width: 41rem;

    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

body{
    background-color: #ddedfaff;    
    background-image: 
        linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.4)),
        url('/doodlePattern.png');
    background-size: 70%;
    background-position: center;
    background-repeat: repeat;
    backdrop-filter: blur(5px);    
}

@media (max-width: 600px) {
    body{
        background-size: 200%;
        backdrop-filter: blur(5px);
    }
}